<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TEST</title>
</head>
<body>
<main id="panel" class=" slideout-panel">
    <nav class="navbar navbar-default navbar-fixed-top header" id="header-menu" component="navbar">
        <div class="load-bar" style="height: 0px;">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" id="mobile-menu">
                    <span component="notifications/icon" class="notification-icon fa fa-fw fa-bell-o"
                          data-content="0"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>


                <a href="https://bbs.xdmy.club/">
                    <span class="navbar-brand forum-title">神秘组织</span>
                </a>


            </div>

            <div id="nav-dropdown" class="hidden-xs">


                <ul id="logged-out-menu" class="nav navbar-nav navbar-right">

                    <li>
                        <a href="https://bbs.xdmy.club/register">
                            <i class="fa fa-pencil visible-xs-inline"></i>
                            <span>注册</span>
                        </a>
                    </li>

                    <li>
                        <a href="https://bbs.xdmy.club/login">
                            <i class="fa fa-sign-in visible-xs-inline"></i>
                            <span>登录</span>
                        </a>
                    </li>
                </ul>


                <ul class="nav navbar-nav navbar-right search-menu">
                    <li data-original-title="" title="">
                        <form id="search-form" class="navbar-form navbar-right hidden-xs" role="search" method="GET">
                            <button id="search-button" type="button" class="btn btn-link"><i class="fa fa-search fa-fw"
                                                                                             title="搜索"></i></button>
                            <div class="hidden" id="search-fields">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="搜索" name="query" value="">
                                    <a href="https://bbs.xdmy.club/login#"><i
                                            class="fa fa-gears fa-fw advanced-search-link"></i></a>
                                </div>
                                <button type="submit" class="btn btn-default hide">搜索</button>
                            </div>
                        </form>
                    </li>
                    <li class="visible-xs" id="search-menu">
                        <a href="https://bbs.xdmy.club/search">
                            <i class="fa fa-search fa-fw"></i> 搜索
                        </a>
                    </li>
                </ul>


                <ul class="nav navbar-nav navbar-right hidden-xs">
                    <li>
                        <a href="https://bbs.xdmy.club/login#" id="reconnect" class="hide" title=""
                           data-original-title="Connection to 神秘组织 has been lost, attempting to reconnect...">
                            <i class="fa fa-check"></i>
                        </a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right pagination-block visible-lg visible-md">
                    <li class="dropdown">
                        <i class="fa fa-angle-double-up pointer fa-fw pagetop"></i>
                        <i class="fa fa-angle-up pointer fa-fw pageup"></i>

                        <a href="https://bbs.xdmy.club/login#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="pagination-text"></span>
                        </a>

                        <i class="fa fa-angle-down pointer fa-fw pagedown"></i>
                        <i class="fa fa-angle-double-down pointer fa-fw pagebottom"></i>

                        <div class="progress-container">
                            <div class="progress-bar"></div>
                        </div>

                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <input type="text" class="form-control" id="indexInput" placeholder="输入索引">
                            </li>
                        </ul>
                    </li>
                </ul>

                <ul id="main-nav" class="nav navbar-nav">


                </ul>


            </div>

        </div>
    </nav>
    <div class="container" id="content">
        <div class="login">

            <ol class="breadcrumb">

                <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
                    <a href="https://bbs.xdmy.club/" itemprop="url">
			<span itemprop="title">
				主页

			</span>
                    </a>
                </li>

                <li component="breadcrumb/current" itemscope="itemscope"
                    itemtype="http://data-vocabulary.org/Breadcrumb" class="active">

			<span itemprop="title">
				登录




			</span>

                </li>

            </ol>


            <div class="row">

                <div class="col-md-12">
                    <div class="login-block">
                        <div class="alert alert-danger" id="login-error-notify" style="display: none;">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            <strong>登录失败</strong>
                            <p></p>
                        </div>

                        <form class="form-horizontal" method="post" target="login" id="login-form">
                            <div class="form-group">
                                <label for="username" class="col-lg-2 control-label">用户名 / 邮箱</label>
                                <div class="col-lg-10">
                                    <input class="form-control" type="text" placeholder="用户名 / 邮箱" name="username"
                                           id="username" autocorrect="off" autocapitalize="off" value="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password" class="col-lg-2 control-label">密码</label>
                                <div class="col-lg-10">
                                    <input class="form-control" type="password" placeholder="密码" name="password"
                                           id="password">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="remember" id="remember" checked=""> 记住我？
                                            <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10">
                                    <button class="btn btn-primary btn-lg btn-block" id="login" type="submit">登录
                                    </button>

                                    <div class="register-forgot-pwd">

                                        <span>没有帐号？ <a href="https://bbs.xdmy.club/register">注册</a></span>

                                        &nbsp; <a id="reset-link" href="https://bbs.xdmy.club/reset">忘记密码？</a>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>


            </div>
        </div>
    </div><!-- /.container#content -->
</main>

</body>
</html>