{% extends "bootstrap/base.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for mess in messages %}
            <h1 style="color: red">{{ mess }}</h1>
        {% endfor %}
    {% endif %}
{% endwith %}
<table class="table">
    <tbody>
    <tr>
        <th>ID</th>
        <th>姓名</th>
        <th>学号</th>
        <th>学院</th>
    </tr>
    {% if users %}
    {% for user in users %}
    <tr>
        <td>{{ user.id }}</td>
        <td><a href="/admin/userinfo/{{ user.user_id }}">{{ user.name }}</a></td>
        <td>{{ user.user_id }}</td>
        <td>{{ user.school }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% else %}
    </tbody>
</table>
    <h1 style="color: red">I have nothing to show</h1>
{% endif %}

{% endblock %}
